{% extends 'main.html' %}

{% block content %}
<p align="right">
    <a href="{% url 'maitrox_delivery_update' maitrox.delivery%}"><button type="button" class="btn btn-light px-5 radius-30"><i class="bx bx-upload mr-1"></i>Update</button></a>
</p>
<h6 class="mb-0 text-uppercase">Delivery info</h6>
<hr/>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Delivery Number</p>
                        <h5 class="my-1">{{title.delivery}}</h5>
                    </div>
                    <div class="ms-auto font-35 text-white"><i class="lni lni-delivery"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Reckoning Number</p>
                        <h5 class="my-1">{{title.reckoning}}</h5>
                    </div>
                    <div class="ms-auto font-35 text-white"><i class="lni lni-book"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div align="left">
                        <p class="mb-0">Business</p>
                        <h5 class="my-1">{{title.business}}</h5>
                    </div>
                    <div class="ms-auto font-35 text-white"><i class="lni lni-home"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">PN Quantity</p>
                        <h5 class="my-1">{{countings.count_pn}}</h5>
                    </div>
                    <div class="ms-auto font-35 text-white"><i class="lni lni-bricks"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">PN Summary</p>
                        <h5 class="my-1">{{countings.sum_pn}}</h5>
                    </div>
                    <div class="ms-auto font-35 text-white"><i class="lni lni-cart-full"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Status</p>
                        <h5 class="my-0">{{title.status}}</h5>
                    </div>
                    <div class="ms-auto font-35 text-white"><i class="lni lni-checkbox"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<h6 class="mb-0 text-uppercase">Delivery Details</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
                <thead>
                    <th>SO</th>
                    <th>PN</th>
                    <th>Description</th>									
                    <th>QTY</th>  
                    <th>Warehouse</th>    
                </thead>
                <tbody>
                    
                    {% for mait in delivery_details %}
                    <tr>
                        <td>{{mait.so_number}}</td>
                        <td>{{mait.parts_number}}</td>
                        <td>{{mait.parts_description}}</td>
                        <td>{{mait.qty}}</td>
                        <td>{{mait.warehouse}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr/>
<h6 class="mb-0 text-uppercase">AX Orders</h6>
<hr/>
<div class="card">
    <div class="card-body">
        {{ ax|safe }}
        
    </div>
</div>
{% endblock %}