{% extends 'main.html' %}

{% block content %}
<div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-slate-200 dark:border-slate-800"></div>
    <span class="flex-shrink mx-4 text-slate-500 dark:text-slate-400 text-xs font-bold uppercase tracking-wider">Części czekające</span>
    <div class="flex-grow border-t border-slate-200 dark:border-slate-800"></div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
                <thead>
                    <th>Część</th>
                    <th>Ilość</th>
                </thead>
                <tbody>
                    {%for waits in waiting_table%}
                    <tr>
                        <td>{{waits.parts_number}}</td>
                        <td>{{waits.qty}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}