{% extends 'main.html' %}
{%load static %}


{% block content %}
<div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-slate-200 dark:border-slate-800"></div>
    <span class="flex-shrink mx-4 text-slate-500 dark:text-slate-400 text-xs font-bold uppercase tracking-wider">Czy na pewno chcesz usunąć reklamację części {{claim.claim_part}}?</span>
    <div class="flex-grow border-t border-slate-200 dark:border-slate-800"></div>
</div>
<form class="row g-3" method="POST">
    {% csrf_token %}
    <div class="col" align="center">
        <a href="{%url 'maitrox_claims'%}"><button type="button" class="btn btn-success px-5">Anuluj</button></a>
        <button type="submit" class="btn btn-danger px-5">Usuń</button>
    </div>
</form>
{% endblock %}