{% extends 'main.html' %}
{%load static %}


{% block content %}
<p align="right">
<a href="{% static '/maitrox/templates/maitrox_parts_template.xlsx'%}"><button type="button" class="btn btn-light px-5 radius-30"><i class="bx bx-cloud-download mr-1"></i>Template</button></a>
</p>
<hr/>
<h6 align="center" class="mb-0 text-uppercase">Update Parts</h6>
<hr/>
<form class="row g-3" method="POST" enctype="multipart/form-data">
    {{form.as_p}}
    {% csrf_token %}
    <div class="col-12">
        <div class="d-grid">
            <button type="submit" class="btn btn-light"><i class="bx bxs-save"></i>Save</button>
        </div>
    </div>
</form>
{% endblock %}