{% extends 'main.html' %}
{%load static %}


{% block content %}
<div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-slate-200 dark:border-slate-800"></div>
    <span class="flex-shrink mx-4 text-slate-500 dark:text-slate-400 text-xs font-bold uppercase tracking-wider">Nowe oczekujące</span>
    <div class="flex-grow border-t border-slate-200 dark:border-slate-800"></div>
</div>
<form class="row g-3" method="POST" enctype="multipart/form-data">
    {{form.as_p}}
    {% csrf_token %}
    <div class="col-12">
        <div class="d-grid">
            <button type="submit" class="btn btn-light flex items-center justify-center gap-1.5 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V8l-4-4H8z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 20v-6H8v6M16 4v4H8V4" />
                </svg> Save
            </button>
        </div>
    </div>
</form>
{% endblock %}