{% extends 'main.html' %}

{% block content %}
<p align="right">
    <a href="{% url 'maitrox_delivery_update' delivery.delivery%}"><button type="button" class="btn btn-light px-5 radius-30"><i class="bx bx-upload mr-1"></i>Update</button></a>
</p>
{% if pmgp_len != 0 %}
<hr/>
<h6 align="center" class="mb-0 text-uppercase Transport">PMGP WAREHOUSE</h6>

<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{pmgp_to_html|safe}}            
        </div>
    </div>
</div>
<table class="table mb-0">
    <thead>
        <th>Delivery no:</th>
        {%if delivery.reckoning%}
        <th>Reckoning no:</th>
        {%endif%}
        <th>PN:</th>
        <th>Sum:</th>
    </thead>
    <tbody>
        <tr>
            <td>{{delivery.delivery}}</td>
            {%if delivery.reckoning%}
            <td>{{delivery.reckoning}}</td>
            {%endif%}
            <td>{{pmgp_len}}</td>
            <td>{{pmgp_sum}}</td>
        </tr>
    </tbody>
</table>
<hr/>
<form class="row g-3" method="POST">
    {{form_pmgp.as_p}}
    {% csrf_token %}
    <div class="col-12">
        <div class="d-grid">
            <button type="submit" class="btn btn-light" name="pmgp"><i class="bx bxs-save"></i>Save</button>
        </div>
    </div>
</form>
{%endif%}
{% if pmgh_len != 0 %}
<hr/>
<h6 align="center" class="mb-0 text-uppercase TearDown">PMGH WAREHOUSE</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{ pmgh_to_html|safe}}            
        </div>
    </div>
</div>
<table class="table mb-0">
    <thead>
        <th>Delivery no:</th>
        {%if delivery.reckoning%}
        <th>Reckoning no:</th>
        {%endif%}
        <th>PN:</th>
        <th>Sum:</th>
    </thead>
    <tbody>
        <tr>
            <td>{{delivery.delivery}}</td>
            {%if delivery.reckoning%}
            <td>{{delivery.reckoning}}</td>
            {%endif%}
            <td>{{pmgh_len}}</td>
            <td>{{pmgh_sum}}</td>
        </tr>
    </tbody>
</table>
<hr/>
<form class="row g-3" method="POST">
    {{form_pmgh.as_p}}
    {% csrf_token %}
    <div class="col-12">
        <div class="d-grid">
            <button type="submit" class="btn btn-light" name="pmgh"><i class="bx bxs-save"></i>Save</button>
        </div>
    </div>
</form>
{%endif%}
{%if del_empty == False%}
<hr/>
<h6 align="center" class="mb-0 text-uppercase">Lack of Parts</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{del_nan|safe}}            
        </div>
    </div>
</div>
{%endif%}
{% endblock %}