{% extends 'main.html' %}

{% block content %}
<p align="right">
    <a href="{% url 'xiaomi_new' %}"><button type="button" class="btn btn-light px-5 radius-30"><i class="bx bx-add-to-queue mr-1"></i>New</button></a>
</p>
<h6 class="mb-0 text-uppercase">All deliveries</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
                <thead>
                    <th>Delivery no</th>
                    <th>Reckoning no</th>
                    <th>Status</th>
                    <th>ZZ PMGP</th>
                    <th>Status PMGP</th>
                    <th>ZZ PMGH</th>
                    <th>Status PMGH</th>
                    <th>View</th>
                    <th>Data</th>
                    <th>File</th>
                    <th>Date</th>
                    <th>Creator</th>         
                </thead>
                <tbody>
                    {% for xiao in xiaomi %}
                    <tr>
                        <td>{{xiao.delivery}}</td>
                        {%if xiao.reckoning != None%}
                        <td>{{xiao.reckoning}}</td>
                        {%else%}
                        <td></td>
                        {%endif%}
                        <td>{{xiao.status}}</td>
                        <td>{{xiao.zz_pmgp}}</td>
                        {%if xiao.status_pmgp != None%}
                        <td>{{xiao.status_pmgp}}</td>
                        {%else%}
                        <td></td>
                        {%endif%}
                        <td>{{xiao.zz_pmgh}}</td>
                        {%if xiao.status_pmgh != None%}
                        <td>{{xiao.status_pmgh}}</td>
                        {%else%}
                        <td></td>
                        {%endif%}
                        <td><a href="{% url 'xiaomi_delivery' xiao.delivery%}"><i class="bx bx-file-blank"></i></a></td>
                        <td><a href="{% url 'xiaomi_delivery_update' xiao.delivery%}"><i class="bx bx-file-blank"></i></a></td>
                        <td><a href="{% url 'xiaomi_delivery_file_update' xiao.delivery%}"><i class="bx bx-file-blank"></i></a></td>
                        <td>{{xiao.date|date:"Y-m-d"}}&nbsp;{{xiao.date|time:"H:i"}}</td>
                        <td>{{xiao.creator|capfirst}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}