{% extends 'main.html' %}

{% block content %}
<h6 class="mb-0 text-uppercase">PMGP and PMGH</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{ table.delivery_to_html|safe}}            
        </div>
    </div>
</div>
<h6 class="mb-0 text-uppercase">Parts Catalog</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{ table.parts_to_html|safe}}            
        </div>
    </div>
</div>
<h6 class="mb-0 text-uppercase">Waiting Parts</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{ table.waiting_to_html|safe}}            
        </div>
    </div>
</div>
<h6 class="mb-0 text-uppercase">Claim Parts</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">            
            {{ table.claim_to_html|safe}}            
        </div>
    </div>
</div>
{% endblock %}