{% extends 'main.html' %}

{% block content %}
<form class="row g-3" method="POST">
    {% csrf_token %}
    <div class="col-12">
        <p align="right">
            <button type="submit" class="btn btn-light px-5 radius-30"><i class="bx bx-send mr-1"></i>Send Report</button>
        </p>
    </div>
</form>
<hr/>
<h6 align="center" class="mb-0 text-uppercase">Claim Parts</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
                <thead>
                    <th>Part</th>
                    <th>Qty</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {%for claim in claims%}
                    <tr>
                        <td>{{claim.claim_part}}</td>
                        <td>{{claim.qty}}</td>
                        <td><span class="badge {{claim.status}}">{{claim.status}}</span></td>
                        <td>{{claim.date|date:"Y-m-d"}}&nbsp;{{claim.date|time:"H:i"}}</td>
                        <td><a href="{% url 'xiaomi_claims_update' claim.id%}"><i class="lni lni-exit-up"></i></a></td>
                        <td><a href="{% url 'xiaomi_claims_delete' claim.id%}"><i class="lni lni-trash"></i></a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}