<!doctype html>
{% load static %}
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="{% static '/images/logo-favicon.png' %} " type="image/png" />
	<!--plugins-->
	<link href="{% static '/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
	<link href="{% static '/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static '/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
	<link href="{% static '/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<!-- loader-->
	<link href="{% static '/css/pace.min.css" rel="stylesheet' %}" />
	<script src="{% static '/js/pace.min.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/plugins/notifications/css/lobibox.min.css'%}"/>
	<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static '/css/bootstrap-extended.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="{% static '/css/app.css' %}" rel="stylesheet">
	<link href="{% static '/css/icons.css' %}" rel="stylesheet">
	
	<title>{{title}} {{delivery.delivery}}</title>
	<style>
		#customers {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  font-size: 14px;
		  text-align: center;
		}
		
		#customers td, #customers th {
		  border: 1px solid rgb(133, 146, 158);
		  padding: 5px;
		  font-size: 14px;
		}
		
		#customers tr:nth-child(even){background-color: rgb(192, 192, 192);}
		
		#customers tr:hover {background-color: rgb(41, 128, 185);}
		
		#customers th {
		  padding-top: 6px;
		  padding-bottom: 6px;
		  text-align: center;
		  background-color: rgb(21, 67, 96);
		  color: white;
		}

		#customers tr:last-child {
		  font-weight: bold;
		}
  </style>
</head>

<body class="bg-theme bg-theme1">
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="page-wrapper">
			<div class="page-content">				
				<p>Cześć,</p>
        		<p>Dostawy w transporcie dla biznesu XIAOMI:</p>
				<p>{{report|safe}}</p>
				<!--end breadcrumb-->
				<p style="font-size: 14">Best Regards,</p>
				<p style="font-size: 14">Pozdrawiam</p>
				<b><h4>Paweł Kaczmarek</h4></b>
				<span style="font-size: 13">tel:   +48 (0) 22 726 38 27<br>
				kom: +48 (0) 602 457 641<br>
				e-mail: p.kaczmarek@ccsonline.pl<br>
				<br>
				Cyfrowe Centrum Serwisowe S.A.   <br>
				05-500 Piaseczno, Puławska 40 A    <br></span>
				<img src="https://www.ccsonline.pl/images/stories/newcc.png"><br>
				<hr></hr>
				<span style="font-size: 9"><p>Cyfrowe Centrum Serwisowe S.A. z siedzibą w Piasecznie, adres: ul. Puławska 40 A, 05-500 Piaseczno, KRS: 0000253995, NIP: 951-19-78-674, REGON: 016321051, Numer Rejestrowy BDO: 000042506.</p>
				<p>Dokumentacja spółki przechowywana jest w Sądzie Rejonowym dla m.st. Warszawy w Warszawie, XIV Wydział Gospodarczy Krajowego Rejestru Sądowego.
				Wysokość kapitału zakładowego: 1.589.100 złotych (kapitał zakładowy został w całości wpłacony).</p>
				
				<b>UWAGA:</b>
				<br>
				<p>Niniejsza wiadomość elektroniczna wraz z wszelkimi załącznikami jest skierowana wyłącznie do jej adresatów i zawiera informacje poufne i prawnie chronione. Uprzejmie informujemy, że jeżeli niniejsza wiadomość zostanie odebrana przez osobę nie będącą jej adresatem, pracownikiem adresata ani osobą odpowiedzialną za dostarczenie tej wiadomości adresatowi, jej rozpowszechnianie, przekazywanie, kopiowanie lub korzystanie z niej w inny sposób jest zabronione. Jeżeli niniejsza wiadomość została Państwu przesłana omyłkowo, uprzejmie prosimy o niezwłoczne poinformowanie o tym fakcie nadawcy drogą elektroniczną, a następnie trwałe usunięcie niniejszej wiadomości z komputera.</p>
				
				<b>NOTICE:</b>
				<br>
				<p>This e-mail message and all attachments transmitted with it are intended solely for the use of the addressee and contain legally privileged and confidential information. If the reader of this message is not the intended recipient, or an employee or agent responsible for delivering of this message to the intended recipient, you are hereby notified that any dissemination, distribution, copying, or other use of this message or its attachments is strictly prohibited. If you have received this message in error, please notify the sender immediately by replying to this message and please delete it permanently from your computer.</p>
				
				<b>Oświadczenie o posiadaniu statusu dużego przedsiębiorcy</b>
				<br>
				<p>Działając zgodnie z art. 4c ustawy z dnia 8 marca 2013 r. o przeciwdziałaniu nadmiernym opóźnieniom w transakcjach handlowych (Dz.U.2021.0.424) zarząd Cyfrowego Centrum Serwisowego S.A. z siedzibą w Piasecznie oświadcza, że spółka ta posiada status dużego przedsiębiorcy</p></span>
				<div class="container mb-3">
					<div class="main-body">							
										
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end wrapper-->
	<!-- Bootstrap JS -->
	<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
	<!--notification js -->
	<script src="{% static '/plugins/notifications/js/lobibox.min.js'%}"></script>
	<script src="{% static '/plugins/notifications/js/notifications.min.js'%}"></script>
	<script src="{% static '/plugins/notifications/js/notification-custom-script.js'%}"></script>
	<!--plugins-->
	<script src="{% static '/js/jquery.min.js' %}"></script>
	<script src="{% static '/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static '/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static '/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<script src="{% static '/plugins/chartjs/chart.min.js' %}"></script>
	<script src="{% static '/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static '/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static '/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static '/plugins/sparkline-charts/jquery.sparkline.min.js' %}"></script>
	<script src="{% static '/plugins/jquery-knob/excanvas.js' %}"></script>
	<script src="{% static '/plugins/jquery-knob/jquery.knob.js' %}"></script>
	<!-- Data Table-->
	<script src="{% static 'plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
	<script>
		$(function() {
			$(".knob").knob();
		});
	</script>
	<script>
	  
		$(document).ready(function() {
		$('#example').DataTable()
	  });
		
	</script>
	<script>
		$(document).ready(function() {
			var table = $('#example2').DataTable( {
				lengthChange: false,
				buttons: [ 'copy', 'excel', 'pdf', 'print']
			} );
		 
			table.buttons().container()
				.appendTo( '#example2_wrapper .col-md-6:eq(0)' );
		} );
	</script>	
	<script>
		$(document).ready(function() {
			var table = $('#example3').DataTable( {
				lengthChange: false,
				buttons: [ 'copy', 'excel', 'pdf', 'print']
			} );
		 
			table.buttons().container()
				.appendTo( '#example3_wrapper .col-md-6:eq(0)' );
		} );
	</script>	
	<script>
		$(document).ready(function() {
			var table = $('#example4').DataTable( {
				lengthChange: false,
				buttons: [ 'copy', 'excel', 'pdf', 'print']
			} );
		 
			table.buttons().container()
				.appendTo( '#example4_wrapper .col-md-6:eq(0)' );
		} );
	</script>
	<!--
	<script src="{% static '/js/index.js' %}"></script>
	-->
	<!--app JS-->
	<script src="{% static 'js/app.js' %}"></script>
	{% if messages %}
		{% for message in messages %}
		<script type="text/javascript">
			$(document).ready(function {{message.tags}}_noti() {
				Lobibox.notify('{{message.tags}}', {
					pauseDelayOnHover: true,
					continueDelayOnInactiveTab: false,
					position: 'top right',
					icon: 'bx bx-error',
					msg: '{{message}}'
				});
			});
		</script>
		{% endfor %}
    {% endif %}
	
</body>

</html>