{% extends 'main.html' %}

{% block content %}

<<p align="right">
    {%for part in parts_all%}
    <a href="{%url 'xiaomi_parts_update' part.id%}"><button type="button" class="btn btn-light px-5 radius-30"><i class="bx bx-upload mr-1"></i>Update</button></a>
    {%endfor%}
</p>
<hr/>
<h6 align="center" class="mb-0 text-uppercase">Xiaomi Parts Catalog</h6>
<hr/>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            {{parts|safe}}
        </div>
    </div>
</form>
{% endblock %}