<ul class="metismenu" id="menu">
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-home-circle'></i>
            </div>
            <div class="menu-title">Dashboard</div>
        </a>
        <ul>
            <li> <a href="{% url 'dashboard' %}"><i class="bx bx-right-arrow-alt"></i>Default</a>
            </li>
        </ul>
    </li>
    <li class="menu-label">Business</li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-bot'></i>
            </div>
            <div class="menu-title">Xiaomi</div>
        </a>
        <ul>
            <li> <a href="{% url 'xiaomi' %}"><i class="bx bx-right-arrow-alt"></i>Default</a>
            </li>
            <li> <a href="{% url 'xiaomi-deliveries' %}"><i class="bx bx-right-arrow-alt"></i>Deliveries</a>
            </li>
            <li> <a href="{% url 'xiaomi-parts' %}"><i class="bx bx-right-arrow-alt"></i>Parts</a>
            </li>
            <li> <a href="{% url 'xiaomi-claims' %}"><i class="bx bx-right-arrow-alt"></i>Claims</a>
            </li>
            <li> <a href="{% url 'xiaomi-waiting' %}"><i class="bx bx-right-arrow-alt"></i>Waiting</a>
            </li>
            <li> <a href="{% url 'xiaomi-prices' %}"><i class="bx bx-right-arrow-alt"></i>Prices</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-phone-call'></i>
            </div>
            <div class="menu-title">Alatel</div>
        </a>
        <ul>
            <li> <a href="{% url 'alcatel' %}"><i class="bx bx-right-arrow-alt"></i>Default</a>
            </li>
            <li> <a href="{% url 'alcatel-deliveries' %}"><i class="bx bx-right-arrow-alt"></i>Deliveries</a>
            </li>
            <li> <a href="{% url 'alcatel-parts' %}"><i class="bx bx-right-arrow-alt"></i>Parts</a>
            </li>
            <li> <a href="{% url 'alcatel-claims' %}"><i class="bx bx-right-arrow-alt"></i>Claims</a>
            </li>
            <li> <a href="{% url 'alcatel-waiting' %}"><i class="bx bx-right-arrow-alt"></i>Waiting</a>
            </li>
            <li> <a href="{% url 'alcatel-prices' %}"><i class="bx bx-right-arrow-alt"></i>Prices</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-chip'></i>
            </div>
            <div class="menu-title">Cat</div>
        </a>
        <ul>
            <li> <a href="{% url 'cat' %}"><i class="bx bx-right-arrow-alt"></i>Default</a>
            </li>
            <li> <a href="{% url 'cat-deliveries' %}"><i class="bx bx-right-arrow-alt"></i>Deliveries</a>
            </li>
            <li> <a href="{% url 'cat-parts' %}"><i class="bx bx-right-arrow-alt"></i>Parts</a>
            </li>
            <li> <a href="{% url 'cat-claims' %}"><i class="bx bx-right-arrow-alt"></i>Claims</a>
            </li>
            <li> <a href="{% url 'cat-waiting' %}"><i class="bx bx-right-arrow-alt"></i>Waiting</a>
            </li>
            <li> <a href="{% url 'cat-prices' %}"><i class="bx bx-right-arrow-alt"></i>Prices</a>
            </li>
        </ul>
    </li>
    <li class="menu-label">Others</li>
    <li>
        <a href="page" target="_blank">
            <div class="parent-icon"><i class="bx bx-folder"></i>
            </div>
            <div class="menu-title">Documentation</div>
        </a>
    </li>
    <li>
        <a href="page" target="_blank">
            <div class="parent-icon"><i class="bx bx-support"></i>
            </div>
            <div class="menu-title">Support</div>
        </a>
    </li>
</ul>